@import './buttons.scss';

.header {
  background-color: #fff;
  .header__wrapper {
    padding: 18px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }


  .header__button-group {
    display: flex;
    gap: 16px;
  }

  .header__button-group--callback {
    margin-left: auto;
    margin-right: 40px;
    display: none;
  }

  .header__logo {
    margin-right: auto;
    margin-left: 16px;
  }

  @media (min-width: 550px) {
    .header__button-group--callback {
      display: flex;
    }
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

